<div class="container">
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <h3><b>Name :</b><%=session.user.name%></h3>
      <h3><b>Reg no :</b><%=session.user.regno%></h3>
      <a href="/users/edit">edit my details</a>
    </div>
  </div>
</div>
